<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HandlerPostBuild.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <HandlerPostBuild.Properties.Settings>
            <setting name="Exclude" serializeAs="String">
                <value>.exe.config</value>
            </setting>
            <setting name="DestinationDir" serializeAs="String">
                <value>C:\Dropbox\Oblivion Project\Oblivion Pipeline\7 0 Mod Production Repo - Troy</value>
            </setting>
            <setting name="Filter" serializeAs="String">
                <value>Oblivion - </value>
            </setting>
        </HandlerPostBuild.Properties.Settings>
    </applicationSettings>
</configuration>